/* Success Msg */ 
   .success-msg { 
     height: 250px !important;
     width: 250px !important;
     border: 0px;
     background-color: transparent !important;
     margin-top: -75px;
     margin: 0 auto;
     }
  .success-msg h1 {
    font-size: 0.9em;
    font-weight: 100;
    letter-spacing: 3px;
    padding-top: 5px;
    color: #FCFCFC;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  
  .success-msg .green {
    color: #4ec07d;
  }
  
  .success-msg .red {
    color: #e96075;
  }
  
  .success-msg .alert,#error-box .alert {
    font-weight: 700;
    letter-spacing: 5px;
  }
  
  .success-msg p,#error-box p {
    margin-top: 5px;
    font-size: 0.5em;
    font-weight: 100;
    color: #5e5e5e;
    letter-spacing: 1px;
  }
  
  .success-msg button,.success-msg .dot {
    cursor: pointer;
  }
  
  #success-box {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    background: linear-gradient(to bottom right, #B0DB7D 40%, #99DBB4 100%);
    border-radius: 20px;
    box-shadow: 5px 5px 20px #cbcdd3;
    perspective: 40px;
  }
  
  #error-box {
    position: fixed;
    width: 250px;
    height: 250px;
    background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
    border-radius: 20px;
    box-shadow: 5px 5px 20px #cbcdd3;
    bottom: 75px;
    left: -275px;
    -webkit-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	-ms-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
body.error #error-box {
  left: 25px;
  -webkit-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	-ms-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 1;
}
  
#error-box .alert {
  font-size: 0.9em;
  font-weight: 100;
  letter-spacing: 3px;
  padding-top: 5px;
  color: #FCFCFC;
  padding-bottom: 5px;
  text-transform: uppercase;
  margin: 5px 0px;
}
  .success-msg .dot,#error-box .dot{
    width: 8px;
    height: 8px;
    background: #FCFCFC;
    border-radius: 50%;
    position: absolute;
    top: 4%;
    right: 6%;
  }
  .success-msg .dot:hover {
    background: #c9c9c9;
  }
  
  .success-msg .two {
    right: 12%;
    opacity: .5;
  }
  
  .success-msg .face {
    position: absolute;
    width: 22%;
    height: 22%;
    background: #FCFCFC;
    border-radius: 50%;
    border: 1px solid #777777;
    top: 21%;
    left: 37.5%;
    z-index: 2;
    animation: bounce 1s ease-in infinite;
  }
  
    
  .eye {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #777777;
    border-radius: 50%;
    top: 40%;
    left: 20%;
  }
  
  .success-msg .right {
    left: 68%;
  }
  
  .mouth {
    position: absolute;
    top: 43%;
    left: 41%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
  }
  
  .happy {
    border: 2px solid;
    border-color: transparent #777777 #777777 transparent;
    transform: rotate(45deg);
  }
  
  .sad {
    top: 49%;
    border: 2px solid;
    border-color: #777777 transparent transparent #777777;
    transform: rotate(45deg);
  }
  
  .shadow {
    position: absolute;
    width: 21%;
    height: 3%;
    opacity: .5;
    background: #777777;
    left: 40%;
    top: 43%;
    border-radius: 50%;
    z-index: 1;
  }
  
  .scale {
    animation: scale 1s ease-in infinite;
  }
  
  .move {
    animation: move 3s ease-in-out infinite;
  }
  
  .success-msg  .message {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 40%;
    top: 47%;
  }
  
  .success-msg .button-box {
    position: absolute;
    background: #FCFCFC;
    width: 50%;
    height: 15%;
    border-radius: 20px;
    top: 73%;
    left: 25%;
    outline: 0;
    border: none;
    box-shadow: 2px 2px 10px rgba(119, 119, 119, 0.5);
    transition: all .5s ease-in-out;
  }
  .success-msg .button-box:hover {
    background: #efefef;
    transform: scale(1.05);
    transition: all .3s ease-in-out;
  }
  
  @keyframes bounce {
    50% {
      transform: translateY(-10px);
    }
  }
  @keyframes scale {
    50% {
      transform: scale(0.9);
    }
  }
  @keyframes roll {
    0% {
      transform: rotate(0deg);
      left: 25%;
    }
    50% {
      left: 60%;
      transform: rotate(168deg);
    }
    100% {
      transform: rotate(0deg);
      left: 25%;
    }
  }
  @keyframes move {
    0% {
      left: 25%;
    }
    50% {
      left: 60%;
    }
    100% {
      left: 25%;
    }
  }


   /* Success Msg */
   .success-msg { 
     height: 250px !important;
     width: 250px !important;
     border: 0px;
     background-color: transparent !important;
     margin-top: -75px;
     border-radius: 40px !important;
     }
  .success-msg h1,#error-box h1 {
    font-size: 0.9em;
    font-weight: 100;
    letter-spacing: 3px;
    padding-top: 5px;
    color: #FCFCFC;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  
  .success-msg .green {
    color: #4ec07d;
  }
  
  #error-box .red {
    color: #e96075;
  }
  
  
  
  .success-msg button,.success-msg .dot {
    cursor: pointer;
  }
  
 
  

  
  
  
  .success-msg .two,#error-box .two {
    right: 12%;
    opacity: .5;
  }
  
  .success-msg .face {
    position: absolute;
    width: 22%;
    height: 22%;
    background: #FCFCFC;
    border-radius: 50%;
    border: 1px solid #777777;
    top: 21%;
    left: 37.5%;
    z-index: 2;
    animation: bounce 1s ease-in infinite;
  }
  
  #error-box .face2 {
    position: absolute;
    width: 22%;
    height: 22%;
    background: #FCFCFC;
    border-radius: 50%;
    border: 1px solid #777777;
    top: 21%;
    left: 37.5%;
    z-index: 2;
    animation: roll 3s ease-in-out infinite;
  }
  
  .eye {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #777777;
    border-radius: 50%;
    top: 40%;
    left: 20%;
  }
  
  .success-msg .right,#error-box .right {
    left: 68%;
  }
  
  .mouth {
    position: absolute;
    top: 43%;
    left: 41%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
  }
  
  .happy {
    border: 2px solid;
    border-color: transparent #777777 #777777 transparent;
    transform: rotate(45deg);
  }
  
  .sad {
    top: 49%;
    border: 2px solid;
    border-color: #777777 transparent transparent #777777;
    transform: rotate(45deg);
  }
  
  .shadow {
    position: absolute;
    width: 21%;
    height: 3%;
    opacity: .5;
    background: #777777;
    left: 40%;
    top: 43%;
    border-radius: 50%;
    z-index: 1;
  }
  
  .scale {
    animation: scale 1s ease-in infinite;
  }
  
  .move {
    animation: move 3s ease-in-out infinite;
  }
  
  .success-msg  .message,#error-box .message{
    position: absolute;
    width: 100%;
    text-align: center;
    height: 40%;
    top: 47%;
  }
  
  .success-msg .button-box,#error-box .button-box {
    position: absolute;
    background: #FCFCFC;
    width: 50%;
    height: 15%;
    border-radius: 20px;
    top: 73%;
    left: 25%;
    outline: 0;
    border: none;
    box-shadow: 2px 2px 10px rgba(119, 119, 119, 0.5);
    transition: all .5s ease-in-out;
  }
  .success-msg .button-box:hover {
    background: #efefef;
    transform: scale(1.05);
    transition: all .3s ease-in-out;
  }
  
  @keyframes bounce {
    50% {
      transform: translateY(-10px);
    }
  }
  @keyframes scale {
    50% {
      transform: scale(0.9);
    }
  }
  @keyframes roll {
    0% {
      transform: rotate(0deg);
      left: 25%;
    }
    50% {
      left: 60%;
      transform: rotate(168deg);
    }
    100% {
      transform: rotate(0deg);
      left: 25%;
    }
  }
  @keyframes move {
    0% {
      left: 25%;
    }
    50% {
      left: 60%;
    }
    100% {
      left: 25%;
    }
  }